# do NOT track Python compilation files
*.py[cod]
__python__/*

# do NOT track tox's testing folder
.tox

# do NOT track coverage files/folders
.coverage
coverage_html

# do NOT track compiled language files
*.mo
*.pot

# I started relying on putting temporary notes into TODO files
*.todo

# General backup files
*.bak

# Secrets

*secrets.py
*SECRET*
# But allow template files
!*secrets.py.template

# Spyder project files
.spyproject

# Log files and directories
logs/
