{% load django_bootstrap5 %}
{% load labman_tags %}
{{ form.media }}
<style>.bootstrap-datetimepicker-widget {z-order:1600!important; }</style>
<div class="modal-content">
    <div class="modal-header" hx-trigger="user_change from:body {% if this %},revealed{% endif %}"
         hx-target="#id_cost_centre"
         hx-get="/costings/lookups/cost_centres/"
         hx-include="#booking">
        <h5 class="modal-title">Book {{equipment.name }}</h5>
    </div>
    <div class="modal-body">
        <form id="booking" method="POST"
              hx-post="{% url 'bookings:equipment_booking' equipment_id ts %}"
              hx-target="#dialog">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_form form layout="horizontal" %}
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <button type="reset"
                            class="btn-secondary bi bi-x"
                            data-bs-dismiss="modal"
                            name="cancel">Cancel</button>
                    {% if edit %}
                        <button type="submit"
                                class="btn-primary bi bi-pencil"
                                id = "submit_booking"
                                name="book">Edit</button>
                    {% else %}
                        <button type="submit"
                                class="btn-primary bi bi-bookmark-plus"
                                id = "submit_booking"
                                name="book">Book</button>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if edit %}
                        <button type="button"
                                id ="delete_booking"
                                class="btn-danger bi bi-trash"
                                hx-delete="{% url 'bookings:equipment_booking' equipment_id ts %}"
                                name="booking" value={{ this.pk }}>Delete</button>
                    {% endif %}
                </div>
            </div>
            {% if this %}
                <div class="row bg-info m-4 p-4">{{ this.policy }}</div>
            {% endif %}
        </form>
    </div>
</div>
