{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load labman_tags %}
{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
    <script src="{% static '/js/htmx_dialog.js' %}"></script>
{% endblock javascript %}
{% block css %}
    {{ block.super }}
    <style>
        td.html_td {cursor: pointer; }
    </style>
{% endblock css %}
{% block content %}
    <h2>{{ equipment.name }}</h2>
    {{ equipment.description|safe }}
    <div id="schedule_container"
         hx-trigger="refreshSchedule from:body consume, revealed consume"
         hx-vals='{"date":{{ start_date }}, "mode":"{{ mode }}" }'
         hx-get="{% url 'equipment:equipment_detail' equipment.pk %}"
         hx-target="#schedule_container"      hx-swap="outerHTML">
        <div id="schedule">
            Lazy Loaded
        </div>
    </div>
    <div id="modal"
         class="modal modal-blur fade"
         style="display: none"
         tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="dialog">
            <div class="modal-content"></div>
        </div>
    </div>{% endblock content %}
