{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load labman_tags %}
{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
    {{ form.media }}
    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        $(document).on("dal-element-initialized", function (e) {
            if (e.detail.element.id === "id_user") {
                $("#id_user").select2("open").trigger("focus");
            }
        });
        $(':input[name$=user]').on('change', function() {
            setTimeout(function() {sleep(250); $("#booking  button.btn-primary").focus();},0);
            $(':focus').blur();
            return true;

        });
    </script>
    <script>
        (function($) {
            $('#add-form').click(function() {
                var index = $('#id_inline_test_models-TOTAL_FORMS').val()
                var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
                newTable.find(':input').each(function() {
                    for (attr of ['name', 'id'])
                        $(this).attr(
                            attr,
                            $(this).attr(attr).replace('__prefix__', index)
                        )
                })
                newTable.insertBefore($(this))
                $('#id_inline_test_models-TOTAL_FORMS').val(
                    parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
                )
                newTable.slideDown()
            })
        })($)
        $("button[name='delete']").on("click", function() {
            window.location.replace("/bookings/delete/{{ this.pk }}/");
        })
        $("button[name='cancel']").on("click", function() {
            $("#dialog").dialog("close");
        })
    </script>

    <script src="/static/admin/js/vendor/select2/select2.full.js"></script>
    <script src="/admin/jsi18n/"></script>
    <script src="/static/admin/js/calendar.js"></script>
    <script src="/static/autocomplete_light/autocomplete_light.js"></script>
    <script src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script src="/static/autocomplete_light/select2.js"></script>
    <script src="/static/autocomplete_light/i18n/en.js"></script>
{% endblock javascript %}
{% block css %}
    {{ block.super }}
    <link href="/static/admin/css/vendor/select2/select2.css" media="screen" rel="stylesheet">
    <link href="/static/admin/css/autocomplete.css" media="screen" rel="stylesheet">
    <link href="/static/autocomplete_light/select2.css" media="screen" rel="stylesheet">
{% endblock css %}
{% block content %}
    <h2>{{ equipment.name }}</h2>
    {{ equipment.description|safe }}
    <div id="schedule">
        <div class="d-flex justify-content-between">
            <div class="col-md-2">{{ start }}</div><div class="col-md-2">{{ end }}</div>
        </div>
        <div class="d-flex justify-content-center table-responsive-lg" hx-target="#dialog">
            {{ cal.render|safe }}
        </div>
    </div>
    <div id="dialog"
         class="modal modal-blur fade"
         style="display: none"
         aria-hidden="false"
         tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>{% endblock content %}
