{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load labman_tags %}
{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
{% endblock javascript %}
{% block css %}
    {{ block.super }}
    <style>
        td.html_td {cursor: pointer; }
    </style>
{% endblock css %}
{% block content %}
    <h2>{{ equipment.name }}</h2>
    {{ equipment.description|safe }}
    <div id="schedule">
        <div class="d-flex justify-content-between">
            <div class="col-md-2">{{ start }}</div><div class="col-md-2">{{ end }}</div>
        </div>
        <div class="d-flex justify-content-center table-responsive-lg" hx-target="#dialog">
            {{ cal.render|safe }}
        </div>
    </div>
    <div id="dialog"
         class="modal modal-blur fade"
         style="display: none"
         aria-hidden="false"
         tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>{% endblock content %}
