{% extends 'base.html' %}
{% block title %}{{ block.super }}My Account{% endblock title %}
{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
    <script src="{% static 'js/htmx_dialog.js' %}"></script>
    <script>htmx.on("refreshPhotos", function () {window.location.reload();});</script>
{% endblock javascript %}
{% block css %}
    {{ block.super }}
    <style>
        div.bg-secondary h5 {
            color: white;
            margin: 8px;
        }
        #mugshot_link > i {
            background:rgba(255.0, 255.0, 255.0, 0.65);
            padding: 5px;
        }
    </style>
{% endblock css %}
{%block content %}
    <h2>My Profile</h2>
    <main>
        <ul class="nav nav-tabs" id="profile_tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="details-tab"
                        data-bs-toggle="tab" data-bs-target="#details"
                        type="button" role="tab" aria-controls="details"
                        aria-selected="true">Details</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="project-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#project"
                        data-bs-toggle="tab" data-bs-target="#project"
                        type="button" role="tab" aria-controls="project"
                        aria-selected="false">Project</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="underlings-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#underlings"
                        data-bs-toggle="tab" data-bs-target="#underlings"
                        type="button" role="tab" aria-controls="underlings"
                        aria-selected="false">Manages</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="userlist-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#userlist"
                        data-bs-toggle="tab" data-bs-target="#userlist"
                        type="button" role="tab" aria-controls="userlist"
                        aria-selected="false">Userlist</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="details" role="tabpanel" aria-labelledby="details-tab">
                <div class="float-end">
                    {% if account.mugshot %}
                        <div class="position-relative">
                            <img src="{{account.mugshot.get_thumbnail_url }}" alt="Picture of {{ account.display_name" />
                            <a hx-get="{{ account.mugshot_edit_link }}"
                               hx-target="#dialog"
                               class="position-absolute bottom-0 end-0" id="mugshot_link">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col col-md-3">Username :</div><div class="col col-md-9">{{ account.username }}</div>
                </div>
                <div class="row">
                    <div class="col col-md-3">Email Address :</div><div class="col col-med-9">{{ account.email|urlize }}</div>
                </div>
                <div class="row">
                    <div class="col col-md-3">Manager :</div><div class="col col-md-9">
                        {% if account.manager %}
                            <a href="/accounts/user/{{ account.manager.username }}">{{ account.manager.display_name }}</a>
                        {% else %}
                            {{ account.display_name }}
                        {% endif %}
                    </div>
                </div>
                {% if account.management_holds.count > 0 %}
                    <div class="row mt-3">
                        <h3>Your Access to the Following Equipment has been suspended.</h3>
                        <p>You should discuss with your PI/Supervisor why this is the case.</p>
                    </div>
                    <div class="row bg-secondary">
                        <div class="col-md-4"><h5>Equipment</h5></div><div class="col-md-4"><h5>Role</H5></div>
                    </div>
                    {% for entry in account.management_holds.all %}
                        <div class="row">
                            <div class="col-md-4">{{ entry.equipment.name }}</div><div class="col-md-4">{{ entry.role }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if account.signoffs.count > 0 %}
                    <div class="row mt-3">
                        <h3>You have outstanding equipment sign offs to complete.</h3>
                        <p>Go tot he User Lists tab to read the outstanding risk assessments and sign off for each piece
                            of equipment to be ablke to book it.</p>
                    </div>
                    <div class="row bg-secondary">
                        <div class="col-md-4"><h5>Equipment</h5></div><div class="col-md-4"><h5>Role</H5></div>
                    </div>
                    {% for entry in account.signoffs.all %}
                        <div class="row">
                            <div class="col-md-4">{{ entry.equipment.name }}</div><div class="col-md-4">{{ entry.role }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if bookings.count > 0 %}
                    <div class="row">
                        <h3>Future Bookings</h3>
                        <div class="table table-responsive">
                            <table class="col-md-9">
                                {% for booking in bookings.all %}
                                    {% if forloop.first %}
                                        <thead>
                                            <tr>
                                                <th>Equipment</th><th>Start</th><th>End<th><th>Project</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                    {% endif %}
                                    <tr>
                                        <td><a href="{{ booking.equipment.url }}">{{ booking.equipment.name }}</a></td>
                                        <td>{{ booking.slot.lower }}</td><td>{{ booking.slot.upper }}</td>
                                        <td>{{ booking.cost_centre.short_name }}</td>
                                    </tr>
                                    {% if forloop.last %}
                                        </tbody>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="tab-pane" id="project" role="tabpanel" aria-labelledby="project-tab"></div>
            <div class="tab-pane" id="underlings" role="tabpanel" aria-labelledby="underlings-tab"></div>
            <div class="tab-pane" id="userlist" role="tabpanel" aria-labelledby="userlist-tab"></div>
        </div>
        <div id="modal"
             class="modal modal-blur fade"
             style="display: none"
             tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="dialog">
                <div class="modal-content"></div>
            </div>
        </div>
    </main>

{% endblock content %}
