{% extends 'base.html' %}
{% block title %}{{ block.super }}{{ account.display_name }} Account{% endblock title %}
{% block css %}
{{ block.super }}
<style>
div.bg-secondary h5 {
    color: white;
    margin: 8px;
}
</style>}
{% endblock css %}
{%block content %}
<h2>{{ account.display_name }}'s Profile</h2>
<main>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="profile_tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">Details</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="project-tab" data-bs-toggle="tab" data-bs-target="#project" type="button" role="tab" aria-controls="project" aria-selected="false">Project</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="underlings-tab" data-bs-toggle="tab" data-bs-target="#underlings" type="button" role="tab" aria-controls="underlings" aria-selected="false">Manages</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="userlist-tab" data-bs-toggle="tab" data-bs-target="#userlist" type="button" role="tab" aria-controls="userlist" aria-selected="false">Userlist</button>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="details" role="tabpanel" aria-labelledby="details-tab">
        <div class="float-end">
            {% if account.mugshot %}
                <img src="{{account.mugshot.get_thumbnail_url }}" alt="Picture of {{ account.display_name" />
            {% endif %}
        </div>
        <div class="row">
            <div class="col col-md-3">Username :</div><div class="col col-md-9">{{ account.username }}</div>
        </div>
        <div class="row">
            <div class="col col-md-3">Email Address :</div><div class="col col-med-9">{{ account.email|urlize }}</div>
        </div>
        <div class="row">
            <div class="col col-md-3">Manager :</div><div class="col col-md-9">
                {% if account.manager %}
                    <a href="/accounts/profile/{{ account.manager.username }}">{{ account.manager.display_name }}</a>
                {% else %}
                    {{ account.display_name }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="tab-pane" id="project" role="tabpanel" aria-labelledby="project-tab">
        {% for project in account.project.all %}
            <div class="row">
                <div class="col col-md-6">
                    <h5>{{ project.name }}</h5>
                    <p>{{ project.short_name }} ({{ project.code }})</p>
                </div>
                <div class="col col-md-6">
                    {{ project.description|safe }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="tab-pane" id="underlings" role="tabpanel" aria-labelledby="underlings-tab">...</div>
    <div class="tab-pane" id="userlist" role="tabpanel" aria-labelledby="userlist-tab">
        <div class="row bg-secondary"><div class="col col-md-3"><h5>Equipment</h5></div>
        <div class="col col-md-3"><h5>Role</h5></div>
        <div class="col col-md-3"><h5>Signed</h5></div></div>
        {% for entry in account.user_of.all %}
            <div class="row">
                <div class="col col-md-3">
                <a href="/equipment/equipment_detail/{{ entry.equipment.pk }}/">
                {{ entry.equipment.thumbnail }}
                {{ entry.equipment }}
                </a>
                </div><div class="col col-md-3">{{ entry.role }}</div>
                <div class="col col-md-3">
                    {% if entry.hold %}
                        <a href="/equipment/sign-off/{{ entry.equipment.pk }}/">Sign Off</a>
                    {% else %}
                        {{ entry.updated }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</main>


{% endblock content %}
