/* LabMAN custom styling */
body {
    background: #f4f2f0;
}

header#masthead {
    background: #212121;
    display: block;
    clear: both;
    height: 52px;
    color: white;
}

.logo-mark {
    margin: 10px;
}

.logo-full {
    display: none;
}

div.local-header {
    background: #b31b1b;
    color: white;
}

div.local-header-title {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 40px 10px 0;
}

.nav-link a,
li.nav-item a {
    font-family: var(--bs-font-sans-serif);
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: rgb(0 0 0 / 85%);
}

div.local-header a {
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
    background-color: transparent;
    text-decoration: none;
    margin: 0;
    font-family: freight-sans-pro, sans-serif;
    font-size: 16px;
    border: 0;
    color: #fff;
}

button.bi-search,
button.bi-chevron-double-up {
    margin: 10px;
    font-size: 16px;
    background: transparent;
    color: white;
    border: 0;
}

button.bi-search span,
button.bi-chevron-double-up span {
    display: none;
}

#btn-nav {
    margin-top: 28px;
    font-size: 24pt;
    background: transparent;
    color: white;
    border: 0;
}

#btn-nav span {
    display: none;
}

nav#mainmenu {
    display: none;
}

div.navbar-inner {
    margin: -12px 0 0 -12px;
}

main {
    background: white;
    padding-bottom: 10px;
}

footer {
    font-family: freight-sans-pro, sans-serif;
    color: #4a4a4a;
    font-weight: 400;
    text-rendering: optimizelegibility;
    font-size: 10pt;
    box-sizing: border-box;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
    background: #111;
    padding: 8px 0;
    margin-top: 0;
}

footer a:visited,
footer a:hover {
    background-color: transparent;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 9pt;
}

footer ul.navbar-nav li.nav-item a {
    background-color: transparent;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 9pt;
}

@media (width >= 480px) {
    .logo-full {
        display: block;
        margin: 10px;
    }

    .logo-mark {
        display: none;
    }

    header#masthead {
        height: 73px;
    }

    div.local-header a {
        font-size: 18px;
    }

    button.bi-search,
    button.bi-chevron-double-up {
        margin: 12px;
        font-size: 18px;
    }

    #btn-nav {
        display: none;
    }

    nav#mainmenu {
        display: block;
    }
}

@media (width >= 768px) {
    .nav-link a,
    li.nav-item a {
        font-size: 14pt;
    }

    div.local-header a {
        font-size: 20px;
    }

    button.bi-search,
    button.bi-chevron-double-up {
        margin: 12px;
        font-size: 24px;
    }

    nav#mainmenu {
        display: block;
    }
}
