{% extends "base.html" %}
{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
    <script src="{% static 'js/htmx_dialog.js' %}"></script>
    <script>htmx.on("refreshEquipment", function() {document.location.reload();};);</script>
{% endblock javascript %}
{% block css %}
    {{ block.super }}
    <style>
        div.bg-secondary h5 {
            color: white;
            margin: 8px;
        }
        i.bi { font-size: xx-large; }

/* Custom CSS to change the appearance of the closed accordion button */
        .accordion-button.collapsed {
            background-color: #f0f0f0; /* Change background color */
            color: #333; /* Change text color */
            border: 1px solid #ccc; /* Add border */
        }

/* Optional: Change the appearance when the button is hovered */
        .accordion-button.collapsed:hover {
            background-color: #e0e0e0; /* Change hover background color */
        }

        .ui-datepicker {
            z-index: 1600 !important;
        }
    /* Optional: in case your body is less than datapicker height */
        .modal-body {
            min-height: 200px;
        }
        .edit_image > i {
            background:rgba(255.0, 255.0, 255.0, 0.65);
            padding: 10px;
        }

    </style>}
{% endblock css %}
{% block title %}{{ block.super }}: Detail on {{ equipment.name }}{% endblock %}
{% block content %}
    <h2>{{ equipment.name }}</h2>
    <main>
        <ul class="nav nav-tabs" id="profile_tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="details-tab"
                        data-bs-toggle="tab" data-bs-target="#details"
                        type="button" role="tab" aria-controls="details"
                        aria-selected="true">Details</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pages-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#pages"
                        hx-trigger="click, refreshPages from:body consume"
                        data-bs-toggle="tab" data-bs-target="#pages"
                        type="button" role="tab" aria-controls="pages"
                        aria-selected="false">Information</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="resources-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#resources"
                        hx-trigger="click, refreshFiles from:body consume"
                        data-bs-toggle="tab" data-bs-target="#resources"
                        type="button" role="tab" aria-controls="resources"
                        aria-selected="false">Files</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="images-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#images"
                        hx-trigger="click, refreshPhotos from:body consume"
                        data-bs-toggle="tab" data-bs-target="#images"
                        type="button" role="tab" aria-controls="images"
                        aria-selected="false">Gallery</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="userlist-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#userlist"
                        hx-trigger="click, refreshUserList from:body consume"
                        data-bs-toggle="tab" data-bs-target="#userlist"
                        hx-vars="{}"
                        type="button" role="tab" aria-controls="userlist"
                        aria-selected="false">Users</button>
            </li>
            {% if equipment.bookable %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="schedule-tab"
                            hx-get="{{ request.get_full_path }}" hx-target="#schedule"
                            data-bs-toggle="tab" data-bs-target="#schedule_container"
                            type="button" role="tab" aria-controls="schedule_container"
                            aria-selected="false">Schedule</button>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="details" role="tabpanel" aria-labelledby="details-tab">
                <div class="float-end">
                    {% if equipment.thumbnail %}
                        {{ equipment.thumbnail }}
                    {% endif %}
                </div>
                {% if equipment|can_edit:request.user %}
                    <div class="float-end">
                        <a hx-get="{% url 'equipment:edit_equipment' equipment.pk %}"
                           hx-target="#dialog">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </div>
                {% endif %}
                <div class="col-md-9">
                    <div class="row">
                        <div class="col col-md-3">Equipment :</div><div class="col col-md-9">{{ equipment.name|safe }}</div>
                    </div>
                    <div class="row">
                        <div class="col col-md-3">Description :</div><div class="col col-md-9">{{ equipment.description|safe }}</div>
                    </div>
                    <div class="row">
                        <div class="col col-md-3">Location :</div><div class="col col-med-9">
                            <a href="{{ equipment.location.url }}">{{ equipment.location.name }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-3">Owner :</div><div class="col col-md-9">
                            {% if equipment.owner %}
                                <a href="/accounts/user/{{ equipment.owner.username }}">{{ equipment.owner.display_name }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-3">Schedule :</div><div class="col col-med-9"><a href="{{ equipment.schedule }}">Booking Schedule</a></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="resources" role="tabpanel" aria-labelledby="resources-tab">
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="tab-pane" id="images" role="tabpanel" aria-labelledby="images-tab">
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="tab-pane" id="pages" role="tabpanel" aria-labelledby="pages-tab">
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="tab-pane" id="userlist" role="tabpanel" aria-labelledby="userlist-tab">
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            {% if equipment.bookable %}
                <div class="tab-pane" id="schedule_container" role="tabpanel" aria-labelledby="schedule-tab"
                     hx-trigger="refreshSchedule from:body"
                     hx-get="{% url 'equipment:equipment_detail' equipment.pk %}"
                     hx-target="#schedule">
                    <div id="schedule">
                        <div class="spinner-border text-danger" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div></div>
                </div>
            {% endif %}
        </div>
        <div id="modal"
             class="modal modal-blur fade"
             style="display: none"
             tabindex="-1">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document" id="dialog">
                <div class="modal-content"></div>
            </div>
        </div>

    </main>
    <script>
    // Function to merge additional data into the existing hx-vars attribute
        function mergeHxVars(divId, newData) {
            const button = document.getElementById(divId);
            const existingVars = JSON.parse(button.getAttribute('hx-vars') || '{}');
            const mergedVars = { ...existingVars, ...newData };
            button.setAttribute('hx-vars', JSON.stringify(mergedVars));
        }


        document.body.addEventListener("refreshUserList", function(evt){
        // Set the hx-headers attribute dynamically
            mergeHxVars('userlist-tab', { 'opentab': evt.detail.value});
        })
    </script>
{% endblock content %}
