{% extends "base.html" %}
{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
    <script src="{% static 'js/htmx_dialog.js' %}"></script>
{% endblock javascript %}
{% block css %}
    {{ block.super }}
    <style>
        div.bg-secondary h5 {
            color: white;
            margin: 8px;
        }
/* Custom CSS to change the appearance of the closed accordion button */
        .accordion-button.collapsed {
            background-color: #f0f0f0; /* Change background color */
            color: #333; /* Change text color */
            border: 1px solid #ccc; /* Add border */
        }

/* Optional: Change the appearance when the button is hovered */
        .accordion-button.collapsed:hover {
            background-color: #e0e0e0; /* Change hover background color */
        }

        }
    </style>}
{% endblock css %}
{% block title %}{{ block.super }}: Lists{% endblock %}
{% block content %}
    <h2>Lists</h2>
    <main>
        <ul class="nav nav-tabs" id="profile_tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab"
                        data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home"
                        aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="accounts-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#accounts"
                        data-bs-toggle="tab" data-bs-target="#accounts"
                        type="button" role="tab" aria-controls="accounts"
                        aria-selected="false">Accounts</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="equipment-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#equipment"
                        data-bs-toggle="tab" data-bs-target="#equipment"
                        type="button" role="tab" aria-controls="equipment"
                        aria-selected="false">Equipment</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="locations-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#locations"
                        data-bs-toggle="tab" data-bs-target="#locations"
                        type="button" role="tab" aria-controls="locations"
                        aria-selected="false">Locations</button>
            </li>
            {% if request.user.is_superuser %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="documents-tab"
                            hx-get="{{ request.get_full_path }}" hx-target="#documents"
                            hx-trigger="click, refreshFiles from:body consume"
                            data-bs-toggle="tab" data-bs-target="#documents"
                            type="button" role="tab" aria-controls="documents"
                            aria-selected="false">Documents</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="projects-tab"
                            hx-get="{{ request.get_full_path }}" hx-target="#projects"
                            hx-trigger="click, refreshProjects from:body consume"
                            data-bs-toggle="tab" data-bs-target="#projects"
                            type="button" role="tab" aria-controls="projects"
                            aria-selected="false">Projects</button>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>Select the list you wish to see from the tabs above.</p>
            </div>
            <div class="tab-pane" id="accounts" role="tabpanel" aria-labelledby="accounts-tab">
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="tab-pane" id="locations" role="tabpanel" aria-labelledby="locations-tab">
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="tab-pane" id="equipment" role="tabpanel" aria-labelledby="equipment-tab">
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            {% if request.user.is_superuser %}
                <div class="tab-pane" id="documents" role="tabpanel" aria-labelledby="documents-tab">
                    <div class="spinner-border text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="tab-pane" id="projects" role="tabpanel" aria-labelledby="projects-tab">
                    <div class="spinner-border text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="modal"
             class="modal modal-blur fade"
             style="display: none"
             tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="dialog">
                <div class="modal-content"></div>
            </div>
        </div>

    </main>

{% endblock content %}
