{% extends "base.html" %}
{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
    <script src="{% static 'js/htmx_dialog.js' %}"></script>
{% endblock javascript %}
{% block css %}
    {{ block.super }}
    <style>
        div.bg-secondary h5 {
            color: white;
            margin: 8px;
        }
/* Custom CSS to change the appearance of the closed accordion button */
        .accordion-button.collapsed {
            background-color: #f0f0f0; /* Change background color */
            color: #333; /* Change text color */
            border: 1px solid #ccc; /* Add border */
        }

/* Optional: Change the appearance when the button is hovered */
        .accordion-button.collapsed:hover {
            background-color: #e0e0e0; /* Change hover background color */
        }
        .edit_image > i {
            background:rgba(255.0, 255.0, 255.0, 0.65);
            padding: 10px;
        }
    </style>}
{% endblock css %}
{% block title %}{{ block.super }}: Detail on {{ location.name }}{% endblock %}
{% block content %}
    <h2>{{ location.name }}</h2>
    <main>
        <ul class="nav nav-tabs" id="profile_tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="details-tab"
                        data-bs-toggle="tab" data-bs-target="#details"
                        type="button" role="tab" aria-controls="details"
                        aria-selected="true">Details</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pages-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#pages"
                        data-bs-toggle="tab" data-bs-target="#pages"
                        type="button" role="tab" aria-controls="pages"
                        aria-selected="false">Information</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="resources-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#resources"
                        hx-trigger="click, refreshFiles from:body consume"
                        data-bs-toggle="tab" data-bs-target="#resources"
                        type="button" role="tab" aria-controls="resources"
                        aria-selected="false">Files</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="images-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#images"
                        hx-trigger="click, refreshPhotos from:body consume"
                        data-bs-toggle="tab" data-bs-target="#images"
                        type="button" role="tab" aria-controls="images"
                        aria-selected="false">Gallery</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="equipment-tab"
                        hx-get="{{ request.get_full_path }}" hx-target="#equipment"
                        data-bs-toggle="tab" data-bs-target="#equipment"
                        type="button" role="tab" aria-controls="equipment"
                        aria-selected="false">Equipment</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="details" role="tabpanel" aria-labelledby="details-tab">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col col-md-3">Location :</div><div class="col col-md-9">{{ location.name|safe }}</div>
                        </div>
                        <div class="row">
                            <div class="col col-md-3">Description :</div>
                            <div class="col col-md-9">{{ location.description|safe }}
                                {% if location.photo %}
                                    <br/>{{ location.photo }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h5>Locatio Tree</hh5>
                        {% for loc in location.all_parents.reverse %}
                            {% if forloop.first %}
                                <ul>
                            {% endif %}
                            {% if not forloop.last %}
                                <li><span style="margin-left: {{ loc.level }}em;">
                                    <a href="{{ loc.url }}">{{ loc.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% for loc in location.children %}
                            {% if forloop.first %}
                                <li><span style="margin-left: {{ loc.level }}em;">
                                    <strong>{{ loc.name }}</strong></li>
                            {% else %}
                                <li><span style="margin-left: {{ loc.level }}em;">
                                    <a href="{{ loc.url }}">{{ loc.name }}</a></li>
                            {% endif %}
                            {% if forloop.last %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="resources" role="tabpanel" aria-labelledby="resources-tab">
            </div>
            <div class="tab-pane" id="images" role="tabpanel" aria-labelledby="images-tab">
            </div>
            <div class="tab-pane" id="pages" role="tabpanel" aria-labelledby="pages-tab">
            </div>
            <div class="tab-pane" id="equipment" role="tabpanel" aria-labelledby="equipment-tab">
            </div>
        </div>
        <div id="modal"
             class="modal modal-blur fade"
             style="display: none"
             tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" id="dialog">
                <div class="modal-content"></div>
            </div>
        </div>
    </main>
{% endblock content %}
