{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load labman_tags %}
{% block title %}{{ block.super }}:Sign off Risk Assessments{% endblock title %}
{% block content %}
    <h2>Sign Off Risk Assessments</h2>
    <main><p>Check the boxes to sign off the documents.</p>
        <form method="POST" action="{{ request.path }}" role="form" aria-label="Document Sign-off Form">
            {% csrf_token %}
            {{ formset.management_form }}
            <div class="col-md-8">
                {% for form,doc in formset|zip:docs %}
                    <div class="row">
                        <div class="col-md-4">{% bootstrap_form form layput="inline" %}</div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-6"><a href="{{ doc.file_url }}" target=_NEW >{{ doc.title }}</a></div>
                                <div class="col-sm-6">(v{{ doc.version }}) {{ doc.updated }}</div>
                            </div>
                            <div class="row">{{ doc.extra_text }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    {% bootstrap_button "Cancel" button_type="reset"  %}
                </div>
                <div class="col-2">
                    {% bootstrap_button "Sign" button_type="submit" button_class="btn-primary" icon="glyphicon glyphicon-share-alt" %}
                </div>
            </div>
        </form>
    </main>
{% endblock content %}
