{% extends "base.html" %}
{% load email_obfuscator %}
{% block title %}Condensed Matter Physics: {{ person.display_name }}{% endblock title %}
{% block page %}
<h1>{{ person.display_name }}</h1>
<h2>{{ person.job_title }}</h2>
<div>
    <div class = "right">

        <img src='{{ profile_image.url }}' alt='{{ person.display_name }}' width=190/>
        <h5>Contact Details</h5>
        <table>
            <tr><td>Room:</td><td>{{ person.address }}</td></tr>
            <tr><td>Telephone:</td><td>{{ person.phone }}</td></tr>
            <tr><td>Email:</td><td><a href='mailto:{{ person.email}}'>{{ person.email|obfuscate }}</a></td></tr>
        </table>
    </div>
{{ profile_page.content|safe }}
</div>
{% endblock page %}