<div class="accordion" id="UserLists">
    {% for role,userlist in equipment.userlist_dict.items %}
        {% if userlist.count > 0 %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="{{ role|slugify }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ role|slugify }}"
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif%}" aria-controls="collapse_{{ role|slugify }}">
                        {{ role }} ({{ userlist.count }} {{ role }}s)
                    </button>
                </h2>
                <div id="collapse_{{ role|slugify }}" class="accordion-collapse collapse{% if forloop.first %} show{% endif %}"
                     aria-labelledby="{{ role|slugify }}" data-bs-parent="#UserLists">
                    <div class="accordion-body">
                        {% for entry in userlist.all %}
                            {% if forloop.first %}
                                <div class="row bg-secondary">
                                    <div class="col col-md-3">
                                        <h5>User</h5>
                                    </div>
                                    <div class="col col-md-3">
                                        <h5>Role</h5>
                                    </div>
                                    <div class="col col-md-3">
                                        <h5>Signed</h5>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col col-md-3">
                                    <a href="/accounts/user/{{ entry.user.username }}">
                                        {% if entry.user.mugshot %}
                                            <img src="{{ entry.user.mugshot.get_thumbnail_url }}" alt="Picture of {{ entry.user.display_name" />
                                        {% endif %}
                                        {{ entry.user.display_name }}
                                    </a>
                                </div><div class="col col-md-3">{{ entry.role }}</div>
                                <div class="col col-md-3">
                                    {% if entry.hold %}
                                        Sign off required
                                    {% else %}
                                        {{ entry.updated }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
