<div class="d-flex justify-content-between">
    <div class="col-md-2">{{ start }}</div><div class="col-md-2">{{ end }}</div>
</div>
<div class="d-flex justify-content-center table-responsive-lg" id="calendar" hx-target="#dialog" id="schedule">
    {{ cal.render|safe }}
</div>
<div id="dialog"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>