<div class="accordion" id="equipmentsList">
    {% for category,equipment_list in equipment.items %}
        {% if equipment_list.count > 0 %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="{{ equipment_list.first.CATEGORIES.category }}">
                    <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ category }}"
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif%}" aria-controls="collapse_{{ category }}">
                        {{ categories|item:category }}
                    </button>
                </h2>
                <div id="collapse_{{ category }}" class="accordion-collapse collapse{% if forloop.first %} show{% endif %}"
                     aria-labelledby="{{ category }}" data-bs-parent="#equipmentsList">
                    <div class="accordion-body">
                        {% for equipment in equipment_list.all %}
                            {% if forloop.first %}
                                <div class="row bg-secondary">
                                    <div class="col col-md-2">
                                        <h5>Name</h5>
                                    </div>
                                    <div class="col col-md-2">
                                        <h5>Thumbnail</h5>
                                    </div>
                                    <div class="col col-md-4">
                                        <h5>Descriptions</h5>
                                    </div>
                                    <div class="col col-md-2">
                                        <h5>Location</h5>
                                    </div>
                                    <div class="col col-md-2">
                                        <h5>Schedule</h5>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col col-md-2">
                                    <span><a href="{{ equipment.url }}">{{ equipment.name }}</a></span>
                                </div>
                                <div class="col col-md-2">
                                    {{ equipment.thumbnail }}
                                </div>
                                <div class="col col-md-4">
                                    <div>{{ equipment.description|safe }}</div>
                                </div>
                                <div class="col col-md-2">
                                    <span><a href="{{ location.url }}">{{ equipment.location.name }}</a></span>
                                </div>
                                <div class="col col-md-2">
                                    <span><a href="{{ equipment.schedule }}">Schedule</a></span>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

