<ul class="nav nav-tabs" id="pages_tabs" role="tablist">
    {% for page in loation.pages.all %}
        <li class="nav-item " role="presentation">
            <button class="nav-link {% if forloop.first %}active{% endif %}" id="{{ page.slug }}-tab" data-bs-toggle="tab" data-bs-target="#{{ page.slug }}" type="button" role="tab" aria-controls="{{ page.slug }}" aria-selected="true">{{ page.title }}</button>
        </li>
    {% endfor %}
</ul>
<div class="tab-content">
    {% for page in location.pages.all %}
        <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ page.slug }}" role="tabpanel" aria-labelledby="{{ page.slug }}-tab">
            {{ page.content| safe}}
        </div>
    {% endfor %}
</div>
