<div class="row bg-secondary">
    <div class="col col-md-3">
        <h5>Name</h5>
    </div>
    <div class="col col-md-2">
        <h5>Code</h5>
    </div>
    <div class="col col-md-4">
        <h5>Descriptions</h5>
    </div>
    <div class="col col-md-3">
        <h5>People</h5>
    </div>
</div>
{% for project in projects %}
    <div class="row">
        <div class="col col-md-3">
            <span>{{ project.name }}</span>
        </div>
        <div class="col col-md-2">
            <span>{{ project.code }}</span>
        </div>
        <div class="col col-md-4">
            <div>{{ project.description|safe }}</div>
        </div>
        <div class="col col-md-3">
            {% for person in project.researchers.all %}
                {% if forloop.first %}<ul>{% endif %}
                <li><a href="{{ person.url }}">{{ person.formal_name }}</a></li>
                {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}