{% include base_tags/html %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="description" content="" />
        <title>{% block title %}Condensed Matter Physics: Home{% endblock %}</title>
{% block javascript %}
        <script type='text/javascript' src='{% static "grappelli/jquery/jquery-2.1.4.min.js" %}'></script>
        <script type='text/javascript' src='{% static "grappelli/jquery/ui/jquery-ui.min.js" %}'></script>
        <script type='text/javascript' src={% static "LabMAN/js/match_height.js" %}'></script>
        <script type='text/javascript' src='{% static "LabMAN/js/jquery.cycle.min.js" %}'></script>
        <script type="text/javascript">
        	//start using jQuery
        	$(window).load(matchHeights);
        	$(window).resize(matchHeights);
       </script>
{% endblock %}
{% block css %}
        <link rel='stylesheet' type='text/css' href='{% static "LabMAN/style/jquery-ui-1.7.1.custom.css" %}' />
        <link rel='stylesheet' type='text/css' href='{ static "LabMAN/style/cm-style.css" %}' />
        <link rel="stylesheet" href='{% static "LabMAN/style/screen.css" %}' media="screen, projection" />
{% endblock %}
{% block description %}
        <meta name="Description" content="Condensed Matter Physics" />
{% endblock %}
        <link rel="icon" href="/favicon.ico" sizes="32x32">
    </head>
    <body id="leeds-toolkit" class="document">
        <div id="container">
{% block mainbody }
            <div class="header">
    {% block header %}
                <a id="logo" href="http://www.leeds.ac.uk" title="University of Leeds Homepage"><img src="/assets/img/logo_black.png" class="hidden" alt="University of Leeds" /></a>
                <h2>&nbsp;</h2>
    {% endblock %}
            </div><!-- header -->
            <div class="aside">
    {% block sidebar %}
                <form method="get" action="http://search.leeds.ac.uk/search"
        			id="search">
                    <label for="SearchSite">Search site</label>
                    <input name="q" type="text" size="18" maxlength="40" id="SearchSite" />
                    <input name="sort" value="date:D:L:d1" type="hidden" />
                    <input name="output" value="xml_no_dtd" type="hidden" />
                    <input name="ie" value="UTF-8" type="hidden" />
                    <input name="oe" value="UTF-8" type="hidden" />
                    <input name="client" value="corporate" type="hidden" />
                    <input name="proxystylesheet" value="corporate" type="hidden" />
                    <input name="site" value="stoner" type="hidden" />
                    <input type="submit" class="button" value="Go" />
                </form>
                <ul class='nav-sub'>
        {% block nav_menu %}
                    <li><a href='/local/intranet'>Intranet</a></li>
        {% endblock %}
                </ul>
    {% endblock %}
            </div><!-- aside -->
            <div class="content">
    {% block main_content %}
                <div class="branding">
        {% block branding %}
                    <h1><a href="/">Condensed Matter Physics Group</a></h1>
                    <ul class='nav-main'>
            {% block main_menu %}
                        <li><a href='/'>Home</a></li>
                        <li><a href='/Research/intro'>Research</a></li>
                        <li><a href='/facilities/index'>Facilities</a></li>
                        <li><a href='/people/'>People</a></li>
                        <li><a href='/jobs/index'>Vacancies</a></li>
                        <li><a href='/industry/index'>For Industry</a></li>
                        <li><a href='/about/contacts'>About Us</a></li>
            {% endblock %}
                    </ul>
        {% endblock %}
                </div>
                <div class="nav">
                    <ul class='breadcrumb'>
        {% block breadcrumb %}
                        <li>Your are here: <a href=http://www.physics.leeds.ac.uk >School of Physics and Astronomy</a></li>
                        <li><a href=/ >Condensed Matter Group</a></li>
        {% endblock %}
                    </ul>
                </div>
                <div class='content-page page'>
        {% block papge %}
                <div class='homecontent'>
                        <div class='homeheadline'>
                            <div id='ticker'>
                                <div>
                                    <a href='/news/beating_stoner'><h1>Latest results - making copper magnetic with buckyballs</h1>
                                    <span>More...</a></span>
                                </div>
                                <div>
                                    <a href='/news/Phd_places'><h1> PhD places available in the group  for October 2015 and 2016</h1>
                                    <span>More...</a></span>
                                </div>
                                <div>
                                    <a href='/news/'><h1>PhD Position: Magnetization dynamics in hybrid ferromagnetic/piezoelectric devices (Dr Thomas Moore)</h1>
                                    <span>More...</a></span>
                                </div>
                                <div>
                                    <a href='/news/spin-ice'><h1>Spin ices slip into ground state</h1>
                                    <span>More...</a></span>
                                </div>
                                <div>
                                    <a href='/news/EBL'><h1>State of the art electron beam lithography for Condensed Matter Group</h1>
                                    <span>More...</a></span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $('#ticker').cycle({
                            		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
                            	});
                            </script>
                        </div>

                        &nbsp;<br/>
                    </div>
                    <div class='col-1 left box'>
                        <h4>Research</h4>
                        <ul class=''>
                            <li><a href='/Research/Spintronics'>Spintronics</a></li>
                            <li><a href='/Research/Portfolio'>Research Portfolio</a></li>
                            <li><a href='/Research/Tutorials'>Tutorials</a></li>
                        </ul>
                    </div>
                    <div class='col-1 left box'>
                        <h4>Facilities</h4>
                        <ul class=''>
                            <li><a href='/facilities/Materials%20Growth'>Materials Growth</a></li>
                            <li><a href='/facilities/fabrication'>Fabrication</a></li>
                            <li><a href='/facilities/Characterisation'>Characterisation</a></li>
                            <li><a href='/facilities/software'>Software</a></li>
                        </ul>
                    </div>
                    <div class='col-1 left box'>
                        <h4>About Us</h4>
                        <ul class=''>
                            <li><a href='/about/teaching'>Teaching</a></li>
                            <li><a href='/about/directions'>Directions</a></li>
                            <li><a href='/about/seminars'>Group Seminars</a></li>
                            <li><a href='/info/forum'>Group Forum</a></li>
                            <li><a href='/news/'>More News</a></li>
                            <li><a href='/about/history'>History of the Group</a></li>
                            <li><a href='/about/stoner'>Who was E.C. Stoner ?</a></li>
                            <li><a href='/about/glossary'>Glossary</a></li>
                        </ul>
                    </div>
                    <div class='col-1 left box last'>
                        <h4>People</h4>
                        <ul class=''>
                            <li><a href='/people/#academics'>Academic Staff</a></li>
                            <li><a href='/people/#emeritus'>Emeritus Professors</a></li>
                            <li><a href='/people/#VisitingProfs'>Visiting Professors</a></li>
                            <li><a href='/people/#pdras'>Post Docs</a></li>
                            <li><a href='/people/#students'>Students</a></li>
                            <li><a href='/people/#VisitingRes'>Visiting Researchers</a></li>
                            <li><a href='/people/#Former'>Former Members</a></li>
                        </ul>
                    </div>
        {% endblock %}
                </div>
                <div class="content-info" role="contentinfo">
        {% block footer %}
                    <ul class="nav">
                        <li><a href="/site/terms">Terms and conditions</a></li>
                        <li><a href="/site/access">Accessibility</a></li>
                        <li><a href="/site/privacy">Privacy</a></li>
                        <li><a href="/site/dataprot">Freedom of information</a></li>
                        <li style='float: right;'>
                            <span class='st_sharethis' st_url='http://sharethis.com' st_title='Sharing Rocks!' displayText='ShareThis'></span>
                            <script type='text/javascript' src='http://w.sharethis.com/button/buttons.js'></script>
                            <script type='text/javascript'>
                                stLight.options({
                                    publisher:'18f921a2-5ac8-465f-91d4-cfb7295d6ce2',
                                });
                            </script>
                        </li>
                    </ul>
                    <p>&copy; Copyright Leeds 2010</p>
        {% endblock %}
                </div>
    {% endblock %}
            </div>
{% endblock %}
        </div>
    </body>
</html>
