body {
	font-size: 75%;
}

/* HEADINGS ----------------------------------------------------------------- */

#container .content-main h2 {
	line-height: 1.07em;
}

/* LINKS -------------------------------------------------------------------- */

#container .content-main li a:hover {
	text-decoration: underline;
}

/* IMAGES ------------------------------------------------------------------- */

/* image panels */

.figcaption {
	background: rgb(51,51,51);
}

.document .figcaption,
.document-alt .figcaption {
	background-color: rgb(2,103,153);
}

.figcaption a {
	text-decoration: underline;
}

/* BRANDING ----------------------------------------------------------------- */

.header h2 {
	float: none;
}

#logo {
	z-index: 10;
}

/* LAYOUT ------------------------------------------------------------------- */

.homepage .content,
.homepage-alt .content {
	margin-bottom: 36px;
}

.related li {
	margin-left: 16px;
}

.page-tools li {
	height: 20px;
}

.page-tools {
	padding-bottom: 18px;
}

/* NAVIGATION --------------------------------------------------------------- */

/* main */

#container .nav-main li {
	border: 0;
}

.nav-main li a {
	background-image: url(/assets/img/nav-main-border.png);
	background-position: center right;
	background-repeat: no-repeat;
	color: rgb(255,255,255);
	margin-left: -.1em;
	padding: 0 0.5em 0.2em 0.5em;
}

.nav-main li a:hover {
	background-image: none;
	color: rgb(0,0,0);
}

.nav-main li:first-child a {
	padding: 0 0.7em 0.2em 0.9em;
}

.nav-main li:last-of-type a {
	background-image: none;
	border: 0;
}

/* breadcrumb */

.breadcrumb li {
	background: url(/assets/img/ie_breadcrumb_bg.png) right center no-repeat;
	float: left;
}

.breadcrumb li:last-child {
	background: 0;
}

.breadcrumb li a {
	padding-left: 3px;
	padding-right: 10px;
}

.breadcrumb li:first-child a {
	padding-left: 0;
}