{% for entry in account.equipmentlist.all %}
    {% if forloop.first %}
        <div class="row bg-secondary">
            <div class="col col-md-4"><h5>Equipment</h5></div>
            <div class="col col-md-2"><h5>Role</h5></div>
            <div class="col col-md-3"><h5>Signed</h5></div>
            <div class="col col-md-3"><h5>Bookings</h5></div>
        </div>
    {%endif %}
    <div class="row">
        <div class="col col-md-2">                {{ entry.equipment.thumbnail }}
        </div>
        <div class="col col-md-2">
            <a href="/equipment/equipment_detail/{{ entry.equipment.pk }}/">
                {{ entry.equipment }}
            </a>
        </div><div class="col col-md-2">{{ entry.role }}</div>
        <div class="col col-md-3">
            {% if entry.hold %}
                {% if request.user == account %}
                    <a href="/equipment/sign-off/{{ entry.equipment.pk }}/">Sign Off</a>
                {% else %}
                    <span>User needs to sign</span>
                {% endif %}
            {% else %}
                {{ entry.updated }}
            {% endif %}
        </div>
        <div class="col col-md-3">
            {% if entry.hold %}
                Booking Not Available
            {% else %}
                <a href="{{ entry.equipment.schedule }}">Schedule</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
