{% for project in account.project.all %}
    <div class="row">
        <div class="col col-md-6">
            <h5>{{ project.name }}</h5>
            <p>{{ project.short_name }} ({{ project.code }})</p>
        </div>
        <div class="col col-md-6" id="project_description_{{ project.id }}">
            {{ project.description|safe|truncatewords_html:10 }}
            {% if project.description|safe|truncatewords_html:10 != project.description|safe %}
                <a href="/" hx-get="/accounts/lookups/projects/"
                   hx-target="#project_description_{{ project.id }}"
                   hx-vars='{"project_id":"{{ project.id }}"}'
                   id="full_description"> more...</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
