{% for cost_centre in account.project.all %}
    <div class="row">
        <div class="col col-md-6">
            <h5>{{ cost_centre.name }}</h5>
            <p>{{ cost_centre.short_name }} ({{ cost_centre.account_code }})</p>
        </div>
        <div class="col col-md-6" id="cost_centre_description_{{ cost_centre.id }}">
            {{ cost_centre.description|safe|truncatewords_html:10 }}
            {% if cost_centre.description|safe|truncatewords_html:10 != cost_centre.description|safe %}
                <a href="/" hx-get="/costings/lookups/cost_centres/"
                   hx-target="#cost_centre_description_{{ cost_centre.id }}"
                   hx-vars='{"cost_centre_id":"{{ cost_centre.id }}"}'
                   id="full_description"> more...</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
