{% if account.managing.count %}
    <div class="row bg-secondary">
        <div class="col col-md-3">
            <h5>Name & Username</h5>
        </div>
        <div class="col col-md-2">
            <h5>Thumbnail</h5>
        </div>
        <div class="col col-md-2">
            <h5>Status</h5>
        </div>
        <div class="col col-md-2">
            <h5>Manager</h5>
        </div>
        <div class="col col-md-3">
            <h5>Project</h5>
        </div>
    </div>
{% else %}
    <h5>{{ account.first_name }} {{ account.last_name }} has nobody they manager.</h5>
{% endif %}
{% for underling in account.managing.all %}
    <div class="row">
        <div class="col col-md-2">
            <span>{% if underling.title %}{{ underling.title }} {% endif %}
                {{ underling.first_name }} {{ underling.last_name }}</span>
        </div>
        <div class="col col-md-1">
            <a href="/accounts/user/{{ underling.username }}">{{ underling.username }}</a>
        </div>
        <div class="col col-md-2">
            {% if underling.mugshot %}
                <img src="{{ underling.mugshot.get_thumbnail_url }}" alt="Picture of {{ underling.display_name" style="margin-top:5px;"/>
            {% endif %}
        </div>
        <div class="col col-md-2">
            <span>{{ underling.groups.first.name }} - {{ underling.research_group.code }}</span>
        </div>
        <div class="col col-md-2">
            {% if underling.manager %}
                <a href="/accounts/user/{{ underling.manager.username }}">{{ underling.manager.formal_name }}</a>
            {% endif %}
        </div>
        <div class="col col-md-3">
            <span>{% for project in underling.project.all %}{{ project.name }}<br/>{% endfor %}</span>
        </div>
    </div>
{% endfor %}